<meta name="description" content=This website is to be used with DuckDuckGo's email protection. It creates send addresses so you can send email from your DuckDuckGo address.">
<meta name="keywords" content="DuckDuckGo send email, email app, email tool, email management">
<meta property="og:title" content="Send Email App - Easy Email Sending | DuckDuckGo">
<meta property="og:description" content="This website is to be used with DuckDuckGo's email protection. It creates send addresses so you can send email from your DuckDuckGo address.">
<meta property="og:url" content="https://gingerbreadmat.pythonanywhere.com/">
<meta property="og:type" content="website">
<meta property="og:image" content="URL_TO_IMAGE">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="https://gingerbreadmat.pythonanywhere.com/">
<meta name="robots" content="index, follow">
